{% extends "bgb_webcontract/backend_base.html" %}
{% block title %}BGB Webcontract backend{% endblock %}
{% block content %}
    <div class="new_requests row">
        <div class="col-md-4">
            &nbsp
        </div>
        <div class="col-md-4">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab"><h5>Новые заявки</h5></a></li>
            <li role="presentation"><a href="#last" aria-controls="last" role="tab" data-toggle="tab"><h5>Последние заявки</h5></a></li>
        </ul>


 	<div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="new">
            <table class="table table-bordered table-hover">
                <thead>
                    <th style="text-align: center;">Факультет</th>
                    <th style="text-align: center;">ФИО</th>
                    <th style="text-align: center;">Должность</th>
                </thead>
                <tbody>
                    {% if new_request_list %}
                        {% for request in new_request_list %}
                            <tr data-href="{% url 'bgb_webcontract:request_detail_backend' request.id %}" style="cursor: pointer;">
                                <td>{{ request.department_id}}</td>
                                <td>{{ request.it_manager_fullname}}</td>
                                <td>{{ request.it_manager_position}}</td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr><td colspan="3" style="text-align: center;">Нет новых заявок</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="last">
            <table class="table table-bordered table-hover">
                <thead>
                    <th style="text-align: center;">Факультет</th>
                    <th style="text-align: center;">ФИО</th>
                    <th style="text-align: center;">Должность</th>
                </thead>
                    <tbody>
                          {% if latest_request_list %}
                          {% for request in latest_request_list %}
                            <tr data-href="{% url 'bgb_webcontract:request_detail_backend' request.id %}" style="cursor: pointer">
                                <td>{{ request.department_id}}</td>
                                <td>{{ request.it_manager_fullname}}</td>
                                <td>{{ request.it_manager_position}}</td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr><td colspan="3" style="text-align: center;">Нет доступных заявок</td></tr>
                    {% endif %}
                    </tbody>
            </table>
        </div>
	</div>
	</div>
        <div class="col-md-4">
            &nbsp
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
	jQuery( function($) {
		$('tbody tr[data-href]').addClass('clickable').click( function() {
			window.location = $(this).attr('data-href');
		});
	});
    </script>
{% endblock %}