<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Create Request</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

    <style type="text/css">
        #id_it_manager_fullname, #id_it_manager_position, #id_it_manager_email, #id_department_id {
            width: 300px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

    </style>
<body>
{% csrf_token %}



    <form action="{% url 'bgb_webcontract:request' %}" method="post">
    {% csrf_token %}
    <div class="rf alert alert-success">
        <table>
        {{request_form.managment_form}}
        {% for form in request_form %}
            <tr>
                <td>
                    {{ form.label }}</div>
                </td>
                <td>
                    {{ form }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
   <!-- <div class="rf alert alert-success">{{ request_form }}</div> -->
    {{ department_form }}

    <div class="table" style="margin-left: 10px; ">
        <table class="test">
            {{contract_formset}}
        </table>
    </div>

    <button type="button" value="Add More" id="add_more" class="btn btn-warning" style="margin-left: 10px;">Добавить</button>
    <button type="submit" class="btn btn-success">OK</button>
    </form>
   <div id="empty_form" style="display:none; ">
        <table class='no_error'>
            {{ serviceFormset.empty_form.as_table }}
        </table>
    </div>

    <script type="text/javascript" language="JavaScript" >
        $('#add_more').click(function() {
            var total = $('#id_form-TOTAL_FORMS').val();
            var index = total * 2 - 1;
            cloneMore('table.test tr:eq(' + index + ')', 'form',total);

        });
        function cloneMore(selector, type,total) {
            var newElement = $(selector).clone(true);
            var newElementPrev = $(selector).prev().clone(true);

            Insertion(newElementPrev,total)
            $(selector).after(newElementPrev);

            Insertion(newElement, total)
            $(newElementPrev).after(newElement);
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
        }

        function Insertion(selector, total){
            selector.find(':input').each(function(){
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            selector.find('label').each(function(){
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
        }
    </script>

</body>
</html>
