<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request detail backend</title>
</head>
<body>
    <form action="{% url 'bgb_webcontract:request_detail_backend' request.id %}" method="post">
        {% csrf_token %}
        {{ request_form }}
        {{ department_form }}
        <table>
            {{ contract_formset }}
        </table>
        <input type="submit" name="save" value="Сохранить изменения">
        <input type="submit" name="save_to_billing" value="Сохранить в Биллинг">
    </form>

</body>
</html>