{% extends "bgb_webcontract/backend_base.html" %}

{% block title %}Request detail backend{% endblock %}
{% block content %}
    <form action="{% url 'bgb_webcontract:request_detail_backend' request.id %}" method="post">
        {% csrf_token %}
        <div class="rf alert alert-success"> {{ request_form }} </div>
        {{ department_form }}
        <div class="table table-bordered">
        <table>
            {{ contract_formset }}
        </table>
        </div>

        <button class="btn btn-success" type="submit" name="save" value="Сохранить изменения">Сохранить изменения</button>
        <button class="btn btn-primary" type="submit" name="save_to_billing" value="Сохранить в Биллинг">Отправить данные в Биллинг</button>
        <button class="btn btn-info" type="submit" name="generate_login_pasw" value="Сгенерировать логины и сохранить">Сгенерировать логины и сохранить</button>
        <button class="btn btn-info" type="submit" name="create_excel" value="Сгенерировать excel файл">Сгенерировать excel файл</button>
        <button class="btn btn-info" type="submit" name="sendmail" value="Отправить excel файл на email">Отправить excel файл на email</button>

    </form>
    {% if action_info %}
    <div id="action-info">{{ action_info }}</div>
    {% endif %}
{% endblock %}