<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запрос на доступ в интернет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Запрос на доступ в интернет</h1>
    <h3>Данные заявителя</h3>
    <form id="form" action="{% url 'bgb_webcontract:request_create' %}" method="post" role="form"
          class="form-horizontal">
        {% csrf_token %}
        {% load widget_tweaks %}

        <div class="rf alert alert-success">
            {{form.managment_form}}
            {% for row in form %}
            <div class="form-group">
                <label for="{{ row.name }}" class="col-sm-4 control-label">{{ row.label }}</label>
                <div class="col-sm-8">
                    {% render_field row class+="form-control" %}
                </div>
            </div>

            {% endfor %}
        </div>
        <!-- <div class="rf alert alert-success">{{ form }}</div> -->
        <h3>Список претендентов</h3>

        {{ department_form }}
        <div class="alert alert-info clearfix">
            <div class="form-group">
                <label class="col-sm-6">ФИО без сокращений</label>
                <label class="col-sm-6">Должность</label>
            </div>
            <div class="dynamic-form">
                <div class="etalon">
                    <div class="form-group">
                        {% for row in contract_formset.form %}
                        <div class="col-sm-6">
                            {% render_field row class+="form-control dynamic-control" %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button type="button" value="Add More" id="add_more" class="btn btn-default pull-right" disabled="disabled">
                Добавить строку
            </button>
        </div>
        <button type="submit" class="btn btn-default">Сохранить и отправить</button>
    </form>
    <div id="empty_form" style="display:none; ">
        <table class='no_error'>
            {{ serviceFormset.empty_form.as_table }}
        </table>
    </div>
</div>
<script type="text/javascript">
var rows = 1;
function changeButtonState(){
    var oldState = $('#add_more').attr('disabled');
    var newState = false;
    $('.dynamic-control').each(function(){
        if ($(this).val() == '') {
            newState = true;
        }
    });
    if (newState != oldState){
        $('#add_more').attr('disabled', newState);
    }
}

function setStateMonitoring(){
    $('.dynamic-control').change(function(){
        changeButtonState();
    }).keyup(function(){
            changeButtonState();
    });
}

$(document).ready(function(){
    setStateMonitoring();
    $('#add_more').click(function() {
        var set = $('.dynamic-form .etalon .form-group').clone().appendTo($('.dynamic-form'));
        var cols = set.find('input');
        rows++;
        $(cols[1]).val('');
        $(cols[0]).val('').focus();
        changeButtonState();
        setStateMonitoring()
    });

    $('#form').submit(function(){
        data['csrfmiddlewaretoken'] = $('#csrfmiddlewaretoken').val();
        $.ajax({
            url: '{% url 'bgb_webcontract:request_create' %}',
            type: 'POST',
            data: data,
            success: function(data){
                console.log(data);
            }
        });
        return false;
    });
});
</script>

</body>
</html>
