<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Request {{request_id}}</title>
</head>
<body>
    <div class="header"> Заявка № {{ request_id }} от {{ created_date }} Автор заявки: {{ it_manager_fullname }}, {{ it_manager_position }}, </div>
    <div class="contract_list">

    {% if contract_list %}
        <ul>
        {% for contract in contract_list %}
            <li> {{ contract.full_name }} - {{ contract.position }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No contracts are available.</p>
    {% endif %}
    </div>
</body>
</html>
