<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Request {{request.id}}</title>
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div style="margin-left: 10px;">
    <form action="{% url 'bgb_webcontract:request_detail' request.id %}" method="post">
        {% csrf_token %}

         <div class="rf alert alert-success">{{ request_form }}</div>
        <div><h3>Статус заявки: </h3></div>
        {% if not request.accepted %}
           <h4> {{ request.rejection_reason }} </h4>
        {% else %}
           <h4> Заявка обработана. Список логинов и паролей отправлен на адрес {{ request.it_manager_email }} </h4>
        {% endif %}
        {{ department_form }}
        <table>
            {{ contract_formset.as_table }}
        </table>

        <button class="btn btn-success" type="submit" name="save" value="Сохранить изменения">Сохранить изменения</button>
            </form>
    {% if action_info %}
        <div id="action-info"><h4>{{ action_info }}</h4></div>
    {% endif %}
    </div>
</body>
</html>