<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Request {{request.id}}</title>
</head>
<body>
    <form action="{% url 'bgb_webcontract:request_detail' request.id %}" method="post">
        {% csrf_token %}
       <p> {{ request_form.it_manager_fullname.as_p }}</p>
         {{ request_form.it_manager_position.as_p}}
        {{ department_form }}
        
           <!-- {{ contract_formset}} -->
       
        <input type="submit" name="save" value="Сохранить изменения">
    </form>
</body>
</html>